
/* Footer / Contacto */

footer {
  padding-top: 120px;
  margin-top: 140px;
}

.contacto-lema {
  font-family: 'Dancing Script', cursive;
  font-size: 2.7rem;
  font-weight: 500;
  padding: 20px;
  margin-bottom: 60px;
  /* background-color: var(--shadow-2); */
}

.contacto-preg {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px;
  margin-bottom: 80px;
  background-color: var(--shadow-2);
}



.iconos-redes-sociales a {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  /* border: 1px solid var(--almost-white); */
  border-radius: 8px;
  transition: all 0.2s ease;
}

.iconos-redes-sociales a:hover {
  background-color: var(--shadow-4);
  color: var(--white);
  transform: translateY(-4px);
  border-bottom: 1px solid var(--white);
  box-shadow: 0 0 2px 2px var(--shadow-1);
}

.iconos-redes-sociales i {
  color: var(--almost-white);
  font-size: 2rem;
  transition: all 0.3s ease-in;
}

.boton-up {
  min-height: 20px;
  width: 94vw;
  align-items: center; 
}

.boton-up a {
  margin: 0;
  cursor: pointer;
}

.derechos-de-autor {
  font-size: 15px;
  color: var(--lighter-color);
  padding-bottom: 20px;
}