<div class="container d-flex column justify-content-center">
  <!-- Formulario de creacion -->
  <form class="formulario-edicion" id="expe-form" [formGroup]="formExpe" (ngSubmit)="onSubmitExpe()">
    <div class="mod-form-div">
      <label for="img-profile">Logo de la empresa/ otro logo: </label>
      <label for="img-profile"><i>Se recomienda que el logo sea cuadrado (ancho = altura)</i></label>
      <input formControlName="logo_url" type="text" id="img-profile" name="img-profile" placeholder="https://myimage.com/profile.image">
    </div>
    <div *ngIf="Logo_url?.errors && Logo_url?.touched" >
      <p *ngIf="Logo_url?.hasError('required')" class="error" >
        La imagen es requerida.
      </p>
      <p *ngIf="Logo_url?.errors?.['maxlength']" class="error">
        La URL no puede tener mas de 500 caracteres.
      </p>
    </div>
    <div *ngIf="Logo_url?.valid && Logo_url?.touched">
      <p class="correct">
        Formato de imagen valido.
      </p>
    </div>

    <div class="mod-form-div">
      <label for="">Titulo del puesto y periodo de tiempo : </label>
      <input formControlName="posicionYTiempo" type="text" placeholder="Front-end Developer en Mozilla (2020 - 2021)">
    </div>
    <div *ngIf="PosicionYTiempo?.errors && PosicionYTiempo?.touched" >
      <p *ngIf="PosicionYTiempo?.hasError('required')" class="error" >
        El texto es requerido.
      </p>
      <p *ngIf="PosicionYTiempo?.errors?.['maxlength']" class="error">
        El texto no puede tener mas de 84 caracteres.
      </p>
    </div>
    <div *ngIf="PosicionYTiempo?.valid && PosicionYTiempo?.touched">
      <p class="correct">
        Formato de texto valido
      </p>
    </div>

    <div class="mod-form-div">
      <label for="text-area-id">Descripcion : </label>
      <textarea formControlName="description" name="text-area-id" id="text-area-id" cols="30" rows="8" placeholder="Cuenta un poco sobre el cargo que tuviste, tareas a realizar, etc." ></textarea>
    </div>
    <div *ngIf="Description?.errors && Description?.touched" >
      <p *ngIf="Description?.hasError('required')" class="error" >
        El texto es requerido.
      </p>
      <p *ngIf="Description?.errors?.['maxlength']" class="error">
        El texto no puede tener mas de 500 caracteres.
      </p>
    </div>
    <div *ngIf="Description?.valid && Description?.touched">
      <p class="correct">
        Formato de texto valido
      </p>
    </div>

    <div class="send-button-div" *ngIf="Logo_url?.valid && PosicionYTiempo?.valid && Description?.valid">
      <button type="submit">Aceptar</button>
    </div>
  </form>

</div>