
/* Habilidades */

.exp {
  min-height: 450px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  
}

.exp .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exp-cont {
  margin: 10px 10px 20px 10px;
}

.exp-title {
  font-size: 3rem;
  font-weight: 400;
  color: var(--almost-white);
  margin: 40px 0;
  padding: 20px;
}

/* Los containers tienen las mismas clases que que usan en 'Experiencia', ya que el estilo es el mimso. */

.hab .exp {
  margin-top: 20px;
  margin-bottom: 40px;
}

.hab-div-cont h3 {
  margin: 0 5vw;
  padding: 10px;
  font-size: 30px;
  color: var(--white);
  background-color: var(--shadow-3);
}

.icon-container {
  margin: 10px;
}

.icon-container:hover {
  color: var(--white);
  
}

/* Iconos de habilidades */

/* .hab .fa-brands, .hab .fa-solid {
  font-size: 60px;
  margin: 10px;
  padding: 10px;
} */

.icon-container i {
  font-size: 60px;
  margin: 10px;
  padding: 10px;
}

.icon-container img {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.fa-brands-ts {
  width: 60px;
  height: 60px;
  color: var(--almost-white);
  /* margin-bottom: 10px; */
}

.icon-container p {
  font-size: 30px;
  font-weight: 600;
}

/* .language-flag {
  width: 80px;
  height: 70px;
} */



/* cont-top corresponden a los iconos para editar y eliminar los elementos */
.cont-top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cont-top .edit {
  width: 35px;
  height: 35px;
  margin: 0 7px;
  font-size: 1.1rem;
  color: var(--almost-white);
  border: 2px solid var(--almost-white);
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(0px, -10px);
  transition: all 0.2s ease; 
}

.cont-top .edit:hover {
  transform: translate(0px, -12px);
  background-color: var(--almost-white);
  color: var(--dark-color);
}

.edit i {
  font-size: 1rem;
}



/* ------------------------------------------------------------------------------------- */

/* Formulario de edicion */

.formulario-edicion {
  padding: 20px;
  margin: 10px auto;
  background-color: var(--shadow-3);
  border-radius: 5px;
  width: 90%;
}

.mod-form-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 16px 0;
}

.mod-form-div label {
  color: var(--almost-white);
}

.mod-form-div input[type="text"] {
  margin-top: 5px;
  border-radius: 5px;
  
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

.send-button-div {
  display: flex;
  justify-content: center;
}

.send-button-div input[type="submit"] {
  margin: 10px;
  padding: 8px 38px;
  border: none;
  border-radius: 4px;
  color: var(--almost-white);
  background-color: var(--light-color);
  transition: all 0.2s ease;
}

.send-button-div input[type="submit"]:hover {
  background-color: var(--almost-white);
  color: var(--light-color);
}

/* --------------------------------------------------------------------------- */


/* boton de editar */

.cv {
  text-decoration: none;
  max-width: 200px;
  padding: 10px;
  margin: 10px auto;
  color: var(--white);
  background-color: rgb(49, 121, 255);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cv:hover {
  background-color: rgb(69, 193, 255);
  color: var(--dark-color);
}

.cv i {
  padding: 0px 10px;
}

/* con esto ocultamos el checkbox */
.toggle-form-hero {
  appearance: none;
}
/* con esto ocultamos el formulario cuando se marca el checkbox */
.toggle-form-hero:checked ~ #hab-form {
  height: 0px;
  display: none;
}


