
  <!-- Footer/ Contacto -->
  <footer id="contacto-id" class="contacto seccion-glass hero d-flex flex-column align-items-center justify-content-center">

    <!-- Boton de "Nueva Habilidad" -->
    <label class="cv" for="tffooter">Editar <i class="fa-solid fa-pen"></i></label>
    <input name="tffooter" id="tffooter" class="toggle-form-hero" type="checkbox" checked >

    <!-- Formulario de edicion -->
    <form class="formulario-edicion" id="footer-form">
      <div class="mod-form-div">
        <label for="frase-footer">Frase descriptiva (opcional) : </label>
        <input type="text" name="frase-footer" id="frase-footer" placeholder="Cambiaste un Ferrari por un Twingo...">
      </div>
      <div class="mod-form-div">
        <label for="frase-contacto">Frase de Contacto : </label>
        <input type="text" name="frase-contacto" id="frase-contacto" placeholder="Hagamos realidad ese proyecto que tanto deseas!">
      </div>
      <div class="send-button-div">
        <input type="submit" value="Aceptar">
      </div>
    </form>

    <p class="contacto-lema ">{{footerList.fraseDescriptiva}}</p>
    <p class="contacto-preg">{{footerList.fraseDeContacto}}</p>

    <!-- Boton de "Nueva Habilidad" -->
    <label class="cv" for="tfcontact">Editar <i class="fa-solid fa-pen"></i></label>
    <input name="tfcontact" id="tfcontact" class="toggle-form-hero" type="checkbox" checked >

    <!-- Formulario de edicion -->
    <form class="formulario-edicion" id="contact-form">
      <div class="mod-form-div">
        <label for="url-fb">Facebook (URL) : </label>
        <input type="text" name="url-fb" id="url-fb" placeholder="https://www.facebook.com/tuperfil">
      </div>
      <div class="mod-form-div">
        <label for="url-gh">Github (URL) : </label>
        <input type="text" name="url-gh" id="url-gh" placeholder="https://www.github.com/tuperfil">
      </div>
      <div class="mod-form-div">
        <label for="url-li">Linkedin (URL) : </label>
        <input type="text" name="url-li" id="url-li" placeholder="https://www.linkedin.com/tuperfil">
      </div>
      <div class="mod-form-div">
        <label for="url-ig">Instagram (URL): </label>
        <input type="text" name="url-ig" id="url-ig" placeholder="https://www.instagram.com/tuperfil">
      </div>
      <div class="mod-form-div">
        <label for="url-em">E-mail : </label>
        <input type="email" name="url-em" id="url-em" placeholder="pepito.97@tudominio.com">
      </div>
      <div class="send-button-div">
        <input type="submit" value="Aceptar">
      </div>
    </form>

    <div class="iconos-contacto">
      <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
        
        <a [href]="footerList.facebookURL" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-facebook"></i>
        </a>
        <a [href]="footerList.githubURL" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-github"></i>
        </a>
        <a [href]="footerList.linkedinURL" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-linkedin"></i>
        </a>
        <a [href]="footerList.instagramURL" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-instagram"></i>
        </a>
        <a [href]="mailtoString" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-envelope"></i>
        </a>
      </div>
    </div>
    <!-- Boton para volver al inicio de la página -->
    <div class="boton-up iconos-redes-sociales d-flex flex-row-reverse">
      <a aria-current="page" (click)="toUpp()" title="Click para volver al inicio"><i class="bi bi-arrow-up-circle"></i></a>
    </div>
    <div class="derechos-de-autor">Creado por Alexander Repollo 2022 &#169;</div>
  </footer>


