
  <!-- Footer/ Contacto -->
  <footer id="contacto-id" class="contacto seccion-glass hero d-flex flex-column align-items-center justify-content-center">

    <div *ngFor="let fracon of miPortfolio">
      <!-- Boton de "Editar FraseContacto" -->
      <label class="cv" for="tffooter" routerLink="/frasecontacto/editar/{{fracon.id}}">Editar <i class="fa-solid fa-pen"></i></label>
      <p class="contacto-lema " *ngIf="miPortfolio">{{fracon.frase_descriptiva}}</p>
      <p class="contacto-preg" *ngIf="miPortfolio">{{fracon.frase_contacto}}</p>
    </div>

    <div class="iconos-contacto" *ngFor="let cont of miContacto">
      <!-- Boton de "Editar Contacto" -->
      <label class="cv" for="tfcontact" routerLink="/contacto/editar/{{cont.id}}">Editar <i class="fa-solid fa-pen"></i></label>

      <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
        <a *ngIf="miContacto" [href]="cont.url_facebook" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-facebook"></i>
        </a>
        <a *ngIf="miContacto" [href]="cont.url_github" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-github"></i>
        </a>
        <a *ngIf="miContacto" [href]="cont.url_linkedin" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-linkedin"></i>
        </a>
        <a *ngIf="miContacto" [href]="cont.url_instagram" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-instagram"></i>
        </a>
        <a *ngIf="miContacto" [href]="'mailto:' + cont.email" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-envelope"></i>
        </a>
      </div>
    </div>
    <!-- Boton para volver al inicio de la página -->
    <div class="boton-up iconos-redes-sociales d-flex flex-row-reverse">
      <a aria-current="page" (click)="toUpp()" title="Click para volver al inicio"><i class="bi bi-arrow-up-circle"></i></a>
    </div>
    <div class="derechos-de-autor">Creado por Alexander Repollo 2022 &#169;</div>
  </footer>


