/* Estilo del div para que la navbar no se superponga cuando navegamos con los botones de la misma */

.div-id-specific {
  margin-bottom: 80px;
  height: 1px;
}

/* El titulo usa los mismos estilos que "Sobre mi" */

.sobre-mi {
  min-height: 400px;
  /* margin-top: 50px; */
}

.sobre-mi-title {
  font-size: 3rem;
  font-weight: 400;
  color: var(--color);
  margin: 20px 0;
  text-align: center;
}

/* Proyectos */

.proyectos {
  padding: 40px 0;
  margin: 40px 0;
}

.proyectos-cont {
  padding: 20px;
  margin: 10px;
}

.proyectos-cont p, .proyectos-cont h3 {
  color: var(--dark-color);
  margin: 10px 0 10px 10px;
  text-align: left;
}

.proyectos-cont p {
  margin-bottom: 40px;
}

.overlay-relative {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.overlay-relative img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  display: block;
  transition: all 0.3s ease;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* padding: 100px; */

  display: none;

  transition: all 0.3s ease;
}

.overlay a {
  font-size: 30px;
  font-weight: 500;
  /* padding: 90px 50px 90px 10px; */
  text-decoration: none;
  color: var(--light-color-2);
  /* background-color: var(--shadow-4); */

}

.inner-overlay-icon {
  font-size: 70px;
  padding: 10px;
  margin: 10px;
  transition: all 0.4s ease;
  
}

.inner-overlay-icon:hover {
  color: var(--white);
  text-shadow: 0px 0px 30px var(--almost-white), 0px 0px 40px var(--lighter-color);
  
}

.overlay-relative:hover img {
  filter: brightness(30%);
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.overlay-relative:hover .overlay {
  display: flex;
  flex-direction: row;
}



/* cont-top corresponden a los iconos para editar y eliminar los elementos */
.cont-top {
  width: 100%;
  display: flex;
  justify-content: right;
}

.cont-top .edit {
  width: 35px;
  height: 35px;
  margin: 0 7px;
  font-size: 1.1rem;
  color: var(--dark-color);
  border: 2px solid var(--dark-color);
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(-1px, 0px);
  transition: all 0.2s ease; 
}

.cont-top .edit:hover {
  transform: translate(-1px, -2px);
  background-color: var(--dark-color);
  color: var(--almost-white);
}



/* ------------------------------------------------------------------------------------- */

/* Formulario de edicion */

.formulario-edicion {
  padding: 20px;
  margin: 10px auto;
  background-color: var(--shadow-3);
  border-radius: 5px;
  width: 90%;
}

.mod-form-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 16px 0;
}

.mod-form-div label {
  color: var(--almost-white);
}

.mod-form-div input[type="text"] {
  margin-top: 5px;
  border-radius: 5px;
  
  border: none;
  outline: none;
}

textarea {
  resize: none;
}

.send-button-div {
  display: flex;
  justify-content: center;
}

.send-button-div input[type="submit"] {
  margin: 10px;
  padding: 8px 38px;
  border: none;
  border-radius: 4px;
  color: var(--almost-white);
  background-color: var(--light-color);
  transition: all 0.2s ease;
}

.send-button-div input[type="submit"]:hover {
  background-color: var(--almost-white);
  color: var(--light-color);
}

/* --------------------------------------------------------------------------- */

/* boton de editar */

.cv {
  text-decoration: none;
  max-width: 200px;
  padding: 10px;
  margin: 10px auto;
  color: var(--white);
  background-color: rgb(49, 121, 255);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cv:hover {
  background-color: rgb(69, 193, 255);
  color: var(--dark-color);
}

.cv i {
  padding: 0px 10px;
}

/* con esto ocultamos el checkbox */
.toggle-form-hero {
  appearance: none;
}
/* con esto ocultamos el formulario cuando se marca el checkbox */
.toggle-form-hero:checked ~ #proy-form {
  height: 0px;
  display: none;
}