<!-- Div para volver arriba con el boton del footer -->
<div id="upp"></div>

<!-- Hero section -->
<section class="hero d-flex align-items-sm-stretch">
  <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
    <img class="hero-image-profile" *ngIf="currentUserIn" [src]="currentUserIn.photoURL" alt="Imagen principal" title="Imagen principal">
    <h1 *ngIf="currentUserIn" >Bienvenida/o {{currentUserIn.displayName}}!</h1>
    <h2>Has iniciado sesion con Google. Click <a class="btn-ir-mensaje" (click)="toMessage()">AQUI</a> para ir a comentarios.</h2>
  </div>
</section>
