
<!-- Login Form -->
<section class="login row">
  <div class="container login-principal seccion-glass col-10 col-sm-8 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center" id="herolo">
    <h1> Log In </h1>
    <p>Enter your credentials to access your account.</p>
    <form action="" autocomplete="off">
      <!-- User email -->
      <div class="container d-flex flex-column text-start">
        <label for="useremail">Email Address</label>
        <input id="useremail" type="email" placeholder="myemail@something.com">
      </div>
      <!-- Password -->
      <div class="container d-flex flex-column text-start">
        <label for="password">Password</label>
        <input id="password" type="password" placeholder="your password">
      </div>
      <!-- Login button -->
      <div class="container d-flex flex-column justify-content-center align-items-center">
        <input type="submit" value="Log In">
      </div>
    </form>
    <a routerLink="/signUp" aria-current="page">Don't have an account? <b>Sign Up</b>.</a>
  </div>
</section>

