
  <!-- Educacion -->
  <section class="edu seccion-clara d-flex align-items-center justify-content-center">
    <div class="container row d-flex flex-column align-items-center justify-content-center">
      <h2 class="sobre-mi-title">Educación</h2>


      <div *ngFor="let descedu of miDescEdu" class="container d-flex flex-column justify-content-center">
        <!-- Boton de "Editar Descripcion" -->
        <label class="cv desc" for="tfeduc" routerLink="/descripcioneducacion/editar/{{descedu.id}}">Editar descripcion <i class="fa-solid fa-pen"></i></label>
        <p class="sobre-mi-description text-center" *ngIf="miDescEdu">{{descedu.description}}</p>
      </div>


      <!-- Boton de "Nuevo Certificado" -->
      <label class="cv" for="tfedu" routerLink="/educacion/crear">Nuevo certificado <i class="fa-solid fa-plus"></i></label>

      
      <!-- titulo -->
      <div class="container div-title d-flex flex-row justify-content-center align-items-center">
        <h3 class="inst-title"> Certificados y títulos :</h3>
      </div>


      <!-- Accordion -->
      <div class="container certi-container" id="accordionFlushExample">
        <!-- Accordion Item -->
      
        <div *ngFor="let edu of miPortfolio" class="certi-item">
          <div class="cont-top">
            <a class="edit" title="Eliminar" (click)="onDelete(edu.id)">
              <i class="fa-regular fa-trash-can" ></i>
            </a>
            <a class="edit" title="Editar" routerLink="/educacion/editar/{{edu.id}}">
              <i class="fa-solid fa-pen" ></i>
            </a>
          </div>
          <h3 class="certi-header">
            
            {{edu.institucion}}
            
          </h3>
          <div class="certi-img">
            <div class="certi-body">
              <a [href]="edu.img_url" target="_blank">
                <img class="certi-certificate" [src]="edu.img_url">
              </a>
              <h4 class="inst-title"> {{edu.tituloYTiempo}}</h4>
              <p>{{edu.description}}</p>
              
            </div>
            
          </div>
        </div>

      </div>

    </div>
  </section>


