.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Formulario de edicion */

.formulario-edicion {
  padding: 20px;
  background-color: var(--shadow-6);
  border-radius: 5px;
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
  color: var(--almost-white);
}

.mod-form-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 16px 0;
}

.mod-form-div input[type="text"] {
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  
}

.send-button-div {
  display: flex;
  justify-content: center;
}

.send-button-div input[type="submit"] {
  margin: 10px;
  padding: 8px 38px;
  border: none;
  border-radius: 4px;
  color: var(--almost-white);
  background-color: var(--light-color);
  transition: all 0.2s ease;
}

.send-button-div input[type="submit"]:hover {
  background-color: var(--almost-white);
  color: var(--light-color);
}