
<!-- El único proposito de este div, es redirigir al usuario cuando hace click en la navbar, para evitar que la navbar se sobreponga al contenido cuando se redirige. -->
<div id="sobre-mi-id" class="div-id-specific"></div>

<!-- Sobre mi -->
<section class="sobre-mi seccion-clara d-flex align-items-center justify-content-center">
  <div class="sobre-mi-cont container row d-flex flex-row align-items-stretch justify-content-between">
    <img class="sobre-mi-image img-fluid col-12 col-lg-4" [src]="miPortfolio.sobreMi.imagenSecundaria" alt="Foto de Alexander en seccion 'Sobre mi'." title="Foto de Alexander">
    <div class="container col-12 col-md-8 d-flex flex-column justify-content-center align-items-center">
      <h2 class="sobre-mi-title">Conoce un poco sobre mi!.</h2>
      <p class="sobre-mi-description text-center">{{miPortfolio.sobreMi.descripcion}}<i class="bi bi-cup-hot"></i></p>
    </div>
  </div>
</section>

