
/* Upp div */
#upp {
  height: 1px;
  background-color: transparent;
}



/* Hero section */

.hero {
  min-height: 450px;
  
  text-align: center;
  margin-top: 90px;
}

.hero-principal {
  color: var(--almost-white);
  padding: 3rem 3.1rem;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 30vh;
  margin-top: 10vh;
  /* glassmorfism */
  background: var(--shadow-2);
  border-radius: 10px 10px;
  box-shadow: 4px 4px 8px 2px var(--shadow-6), 0 4px 30px var(--shadow-1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  transition: all 0.3s ease;
}

.hero-principal:hover {
  background: var(--shadow-3);
  box-shadow: 2px 6px 8px 2px var(--shadow-6), 0 4px 30px var(--shadow-1);
  transform: translateY(-2px);

}


/* cont-top corresponden a los iconos para editar y eliminar los elementos */
/* .cont-top {
  width: 100%;
  display: flex;
  justify-content: right;
} */

/* .cont-top .edit {
  width: 35px;
  height: 35px;
  margin: 0 7px;
  font-size: 1.1rem;
  color: var(--almost-white);
  border: 2px solid var(--almost-white);
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(30px, -20px);
  transition: all 0.2s ease; 
} */

/* .cont-top .edit:hover {
  transform: translate(30px, -22px);
  background-color: var(--almost-white);
  color: var(--dark-color);
} */


.hero-image-profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px 20px 40px 20px;
}

/* boton de editar */

.cv {
  text-decoration: none;
  max-width: 200px;
  padding: 10px;
  margin: 10px 0;
  color: var(--white);
  background-color: rgb(17, 187, 25);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cv:hover {
  background-color: rgb(195, 253, 200);
  color: var(--dark-color);
}

.cv i {
  padding: 0px 10px;
}

/* con esto ocultamos el checkbox */
.toggle-form-hero {
  appearance: none;
}
/* con esto ocultamos el formulario cuando se marca el checkbox */
.toggle-form-hero:checked ~ .formulario-edicion {
  height: 0px;
  display: none;
}

/* ------------------------------------------------------------------------------------- */

/* Formulario de edicion */

.formulario-edicion {
  padding: 20px;
  background-color: var(--shadow-3);
  border-radius: 5px;
  width: 100%;
  
}

.mod-form-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 16px 0;
}

.mod-form-div input[type="text"] {
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}



.send-button-div input[type="submit"] {
  margin: 10px;
  padding: 8px 38px;
  border: none;
  border-radius: 4px;
  color: var(--almost-white);
  background-color: var(--light-color);
  transition: all 0.2s ease;
}

.send-button-div input[type="submit"]:hover {
  background-color: var(--almost-white);
  color: var(--light-color);
}



/* resizing logo navbar & profile image for screen size less than 311px */
@media screen and (max-width: 311px) {

  .hero-image-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
  }
}