
/* Tanto el título como la descripcion usan estas clases creadas para "Sobre mi" section */
.sobre-mi-title {
  font-size: 3rem;
  font-weight: 400;
  color: var(--color);
  margin: 20px 0;
  text-align: center;
}

.sobre-mi-description {
  color: var(--dark-color);
  font-size: 1.1rem;
  padding-bottom: 20px;
}

/* Educacion */

.edu {
  min-height: 450px;
  margin: 20px 0;
  padding: 40px 0;
}

.edu .cv {
  text-decoration: none;
  max-width: 200px;
  padding: 10px;
  color: var(--white);
  background-color: rgb(49, 121, 255);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.edu .cv:hover {
  background-color: rgb(69, 193, 255);
}

.div-title {
  margin: 30px 10px;
}

.inst-title {
  margin: 0;
  margin-bottom: 10px;
}




.logo-inst-solo {
  transform: scale(0.6);
}





/* Testing new design */

.certi-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  max-width: 1400px;
}


.certi-header {
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  color: var(--color);
}

.certi-item {
  
  width: 320px;
  margin: 10px;
  overflow:hidden;
  word-wrap:break-word;
  border-radius: 10px;
  background-color: var(--shadow-1);
  box-shadow: 4px 4px 8px var(--shadow-3);
  transition: all 0.2s ease;
}

.certi-item:hover {
  background-color: var(--light-color-2);
  transform: translateY(-2px);
  box-shadow: 4px 4px 5px var(--shadow-4);
}


.certi-body {
  text-align: center;
  
  color: var(--dark-color);
  height: 350px;
  padding: 10px;
}


.certi-certificate {
  margin: 1px;
  width: 1.2in;
  height: 0.8in;
  border: 4px outset goldenrod;
  filter: brightness(70%);
  transition: all 0.3s ease;
}

.certi-certificate:hover {
  transform: translateY(-2px);
  filter: brightness(100%);
}

.certi-body h4 {
  text-align: center;
  margin: 10px 5px;
  transform:skewX(-10deg);
}

.desc-container {
  max-height: 140px;
  overflow: auto;
}

.certi-body p {
  text-align: left;
  margin: 10px 5px;
}



/* Descomentar mi CSS original cuando termine */







/* card educacion */
/* .edu-title {
  text-align: left;
  font-weight: bold;
  font-size: 3rem;
  color: black;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.edu-sec {
  padding: 40px 20px;
}
.card-container {
  padding: 10px;
}
.card-1 {
  min-width: 320px;
  max-width: 380px;
  height: 390px;
  padding: 0;
}
.card {
  margin: 40px 10px;
  transition: all 0.2s ease;
}
.card:hover {
  transform: scale(1.05);
}
.card-image {
  width: 100%;
  height: 270px;
}

.card-body {
  background-color: #efefef;
} */

