  <!-- Div para volver arriba con el boton del footer -->
  <div id="upp"></div>

  <!-- Hero section -->
  <section class="hero d-flex align-items-sm-stretch">
    <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
      <img class="hero-image-profile" [src]="miPortfolio.hero.imagenPerfil" alt="Imagen principal de Alexander Repollo" title="Imagen principal de Alexander Repollo">
      <h1>{{miPortfolio.hero.saludoPrincipal}}</h1>
      <h2>{{miPortfolio.hero.descripcion}}</h2>
    </div>
  </section>

