  <!-- Div para volver arriba con el boton del footer -->
  <div id="upp"></div>

  <!-- Hero section -->
  <section class="hero d-flex align-items-sm-stretch">
    <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
      <img class="hero-image-profile" *ngIf="miPortfolio" [src]="miPortfolio.imagenPerfil" alt="Imagen principal de Alexander Repollo" title="Imagen principal de Alexander Repollo">
      <h1 *ngIf="miPortfolio" >{{miPortfolio.saludoPrincipal}}</h1>
      <h2 *ngIf="miPortfolio" >{{miPortfolio.descripcion}}</h2>
    </div>
  </section>

